<% @topic.tags.build %>
<%= form_for(@topic) do |topic_form| %>
  <% if @topic.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
    <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= topic_form.label :title %><br />
    <%= topic_form.text_field :title %>
  </div>
  <div class="field">
    <%= topic_form.label :content %><br />
    <%= topic_form.text_area :content %>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => topic_form} %>
  <div class="actions">
    <%= topic_form.submit %>
  </div>
<% end %>