<% topic.tags.build %>
<%= simple_form_for(topic, :html => { :class => "form-signin"}) do |topic_form| %>
  <% if topic.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
    <ul>
    <% topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <h2 class="form-signin-heading"><%= title %></h2>
  <div><%= topic_form.text_field :title, :autofocus => true, :class => "input-block-level", :placeholder => "Title" %></div>
  <div><%= topic_form.text_area :content, :autofocus => true, :class => "input-block-level rounded-auto-size", :placeholder => "Content" %></div>
  <%= render :partial => 'tags/form',
             :locals => {:form => topic_form} %>

  <div class="actions">
    <%= topic_form.submit nil, :class => 'btn btn-success' %>
  </div>
  <% if edit ==1 %>
    <%= link_to 'Show', topic, :class => 'btn' %>
  <% end %>
  <%= link_to 'Back', topics_path, :class => 'btn btn-info' %>
<% end %>