<% topic.tags.build %>

<%= simple_form_for(topic, :html => { :class => "form-horizontal span6"}) do |topic_form| %>
  <% if topic.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">*</a>
      <div id="flash_notice">
        <h5><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h5>
        <ul>
        <% topic.errors.full_messages.each do |msg| %>
          <li class="post-form"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h2 class="form-signin-heading"><%= title %></h2>
  <div><%= topic_form.text_field :title, :autofocus => true, :class => "input-block-level", :placeholder => "Title" %></div>
  <br />
  <div><%= topic_form.text_area :content, :autofocus => true, :class => "input-block-level rounded-auto-size wysihtml5", :placeholder => "Content" %></div>
  <br />
  <%= render :partial => 'tags/form',
             :locals => {:form => topic_form} %>
  <br />
  <div class="actions">
    <%= topic_form.submit nil, :class => 'btn btn-success btn-large', :disable_with => "Saving..."%>
    <% if edit == 1 %>
      <%= link_to 'Show', topic, :class => 'btn btn-info btn-large' %>
    <% else %>
      <%= link_to 'Back', topics_path, :class => 'btn btn-info btn-large' %>
    <% end %>
  </div>
<%= render  :partial => 'shared/wysihtml5' %>
<% end %>