<h1>Listing topics</h1>


<table class="table table-hover">
  <tr>
    <td>Thread/Author</td>
    <td>Replies</td>
    <td>Last Post(Not working)</td>
    <td>Created</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
<% @topics.each do |topic| %>

  <tr>
    <td><%= link_to topic.title, topic %>
      <br />
      <%= topic.user.username %></td>
    <td><%= topic.posts.count %></td>
    <!-- Updated at needs to be changed to look at the post instead of the topic -->
    <td><%= date_helper(topic.updated_at) %></td>
    <td><%= date_helper(topic.created_at) %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic), :class => "btn btn-primary" %></td>
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %></td>
  </tr>
<% end %>
</table>

<br />
<br />
<br />
<br />
<%= link_to 'New Topic', new_topic_path, :class => "btn btn-large btn-success" %>