<h1>Listing topics</h1>

<table class="table table-hover">
  <tr>
    <td>Thread/Author</td>
    <td>Replies</td>
    <td>Last Post</td>
    <td>Created</td>
    <td>Manage</td>
  </tr>
<% @topics.each do |topic| %>

  <tr>
    <td><%= link_to topic.title, topic %>
      <br />
      <%= topic.user.username %></td>
    <td><%= topic.posts.count %></td>
    <td><%= timeago_tag last_post_helper(topic), :nojs => true, :force => true %></td>
    <td><%= timeago_tag topic.created_at, :nojs => true, :force => true %></td>
    <td>
      <% if can? :manage, topic %>
        <%= link_to 'Edit', edit_topic_path(topic), :class => "btn btn-primary" %>
        <%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<br />
<br />
<br />
<%= link_to 'New Topic', new_topic_path, :class => "btn btn-large btn-success" %>