<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Content:</b>
  <%= @topic.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@topic) %>
</p>

<h2>Posts</h2>
<%= render @topic.posts %>

<h2>Add a post:</h2>
<%= render "posts/form" %>


<%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
<%= link_to 'Back to Topics', topics_path %> |