<div class="row-fluid">
  <div class="offset1 span12">
    <h3>
      <%= @topic.title %>
    </h3>
  </div>
</div>
<div class="row-fluid ">
  <div class="offset1 span10 timestamp full-border">
        <%= timeago_tag @topic.created_at, :nojs => true, :force => true %>
  </div>
</div>
<div class="row-fluid">
  <div class="offset1 span10 full-border group" id="one-true" >
    <%= render :partial => 'shared/user_bar', :locals =>{ :object => @topic} %>
    <% if can? :manage, @topic %>
      <p class='float-right margin-top margin-right' %>
        <%= link_to 'Edit Topic', edit_topic_path(@topic), :class => 'btn btn-small btn-info' %>
        <br />
        <%= link_to 'Delete Topic', [@topic], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger' %>
      </p>
    <% end %>
    <div class="span8 col">
      <p class="content">
        <%= raw @topic.content %>
      </p>
      <p class="content">
        <b>Tags:</b>
        <%= join_tags(@topic) %>
      </p>
    </div>
  </div>
</div>

<%= render @topic.posts %>

<br />
<div class="row-fluid">
  <div class="offset1 span10 offset1">
    <%= render 'posts/form', :title => "Reply: ", :resource1 => @topic, :resource2 => @topic.posts.build %>
  </div>
</div>