<br />
<div class="row-fluid ">
  <div class="offset1 span10 timestamp full-border">
        <%= date_helper(post.created_at, 0) %>
  </div>
</div>
<div class="row-fluid">
  <div class="offset1 span10 full-border">
    <div class="span1 right-border">
      <p>
        <%= post.user.username %>
      </p>
      <p>
        Joined: <%= time_ago_in_words(@topic.user.created_at)+ " ago" %>
      </p>
    </div>
    <div class="span9">
      <% if can? :destroy, post %>
        <%= link_to 'Delete Post', [post.topic, post],
                 :confirm => 'Are you sure?',
                 :method => :delete,
                 :class => 'btn btn-small btn-danger float-right margin-top' %>
       <% end %>
      <p class="content">
        <%= post.body %>
      </p>
    </div>
  </div>
</div>