<br />
<div class="row-fluid ">
  <div class="offset1 span10 timestamp full-border">
        <%= timeago_tag post.created_at, :nojs => true, :force => true %>
  </div>
</div>
<div class="row-fluid">
  <div id="one-true" class="offset1 span10 full-border topic-container">
    <%= render :partial => 'shared/user_bar', :locals =>{ :object => post} %>
    <% if can? :manage, post %>
      <p class='float-right margin-top margin-right' %>
        <%= link_to 'Edit Post', edit_topic_post_path(topic, post),
              :class => 'btn btn-small btn-info' %>
        <br />
        <%= link_to 'Delete Post', [post.topic, post],
              :confirm => 'Are you sure?',
              :method => :delete,
              :class => 'btn btn-small btn-danger' %>
    <% end %>
    <div class="span8 col">
      <p class="content">
        <%= raw post.body %>
      </p>
      <p>
        <% if post.updated_at != post.created_at %>
          <div class="edit"> Edited: <%= timeago_tag post.updated_at, :nojs => true, :force => true %> </div>
        <% end %>
      </p>
    </div>
  </div>
</div>