<!DOCTYPE html>
<html>
<head>
  <title>GigaBlab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Giga-Blab</a>
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= render 'devise/menu/registration_items' %></li>
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
    </div>
    <%= render :partial => 'layouts/flashes' %>
    <%= yield %>
  </div>


</body>
</html>
