<!DOCTYPE html>
<html>
<head>
  <title>GigaBlab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <div class="container row-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Giga-Blab</a>
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if params[:controller] == 'topics' %>"><%= link_to "Forum", topics_path %></li>
          <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="icon-user icon-blue"></i> User</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= render 'devise/menu/login_items' %></li>
              <li><%= render 'devise/menu/registration_items' %></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
    <%= render :partial => 'layouts/flashes' %>
    <%= yield %>
  </div>
</body>
</html>
